{
    "presets": [
        "@babel/preset-react", 
        ["@babel/preset-env",{"targets": {"browsers": ["last 5 versions"]}}]
    ],
    "plugins": [
        "babel-plugin-styled-components",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread"
    ]
}